

@{
    Layout = null;

}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<link href="~/Content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
<script src="~/Scripts/ch-dialog.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/ch-dpicker.js"></script>
<link href="~/Content/ch-dialog.css" rel="stylesheet" />
<link href="~/Content/messagebox.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />



<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img class="img-circle" id="img_logo" src="~/Images/images.png">

            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                var message = Html.ValidationMessage("Error");
                if (message.Equals(""))
                {
                    <div class="alert alert-danger login"> @Html.ValidationMessage("Error")</div>
                }
                else
                {
                    <div class="alert alert-danger login"> @Html.ValidationMessage("Error")</div>
                }
            }
            <!-- Begin # DIV Form -->
            <div id="div-forms">

                <!-- Begin # Login Form -->

                @Html.AntiForgeryToken();
                <div class="modal-body">
                    <div id="div-login-msg">
                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-login-msg">Password Reset</span>
                    </div>
                    <br/>
                    <br/>
                    <div>
                        <p>
                            Please Check your Email to Reset your password
                        </p>
                    </div>
                </div>
            </div>
            <!-- End # DIV Form -->

        </div>
    </div>
</div>

<!-- END # MODAL LOGIN -->
<style>
    .login > span.field-validation-error {
        margin-left: 100px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#login-modal').modal('show');
    })


</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







