@model Loader.ViewModel.LayoutTreeView
@{

    var test = Model;
    //Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    Loader.Service.EmployeeService employeeService = new Loader.Service.EmployeeService();
    Loader.Models.Employee EmployeeImage = employeeService.GetEmployeePhoto(Loader.Models.Global.UserId);



    var CompanyName = employeeService.getCompanyName();

}

<div class="box-body" id="treeview-menu-area">
    <section class="sidebar" style="height:initial !important">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                @if (@EmployeeImage == null)
                {
                    @*EmployeeImage.StringPhoto = "~/Content/SBNJiAlSsx4AAAAASUVORK5CYII=.png";*@
                    <img src="~/Content/SBNJiAlSsx4AAAAASUVORK5CYII=.png" class="img-circle" alt="User Image">
                }
                else {
                    <img src="@EmployeeImage.StringPhoto" class="img-circle" alt="User Image">
                }
            </div>
            <div class="pull-left info">
                <p>@Loader.Models.Global.UserName</p>
                <a href="#"><i class="fa fa-circle text-success" style="font-size: inherit !important;"></i> Online</a>
            </div>
        </div>
        <!-- search form -->

        <div class="input-group sidebar-form" style="margin: 15px 1px 16px 7px;">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
     
       

            <li class="sidebar-menu header" style="margin-left: 14px;"><b>MAIN NAVIGATION</b></li>
            <div class="main-side-tree" style="margin-left: -20px">
                @Html.EditorFor(x => x.LayoutTreedata)
            </div>

</section>
</div><!-- /.box-body -->




<style>
    aside.main-sidebar {
        background-color: whitesmoke !important;
    }

    .slimScrollDiv {
        position: relative !important;
        overflow: inherit !important;
        width: auto !important;
        height: 614px !important;
        padding-bottom: 30px !important;
    }

    .popover.fade.left.in {
        display: none !important;
    }

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        border: 2px solid #f3f3f3;
        border-radius: 50%;
        border-top: 2px solid #3498db;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    section.sidebar {
        height: initial !important;
    }

    .circle-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.circle-img img {
  height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
}
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('.sidebar').find('.main-side-tree').find('.master').nextAll('li').slideToggle();
        //$(".sidebar-menu li").on("click", function () {
        //    if ($(this).hasClass("active")) {
        //        $(this).removeClass("active");
        //    } else {
        //        $(this).addClass("active");
        //    }
        //});
        $('.pull-right-container').click(function () {
            debugger;
            var parent = $(this).closest('li.active.treeview');
            var id = $(this).attr('id');
            var isMaster = parent.hasClass('master');
            if (isMaster == true) {
                $(parent).nextAll('li').slideToggle();
            }
            else {
                $(parent).nextAll('li[pid=' + id + ']').slideToggle();
            }
            $(this).toggleClass('rotatefa')



        });
        $('.treeview-menu-item').click(function () {
            debugger;
            var controller = $(this).attr("controller");
            var action = $(this).attr("acton");
            var url = '/' + controller + '/' + action + '/';
            //window.location = url;
            $.ajax({
                type: "get",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (html) {
                    debugger;
                    $('section.content').html(html);
                },
                error: function () {
                    alert("error");
                }
            });

        });
        $('#treeview-menu-area').on('click', "button#search-btn", function (e) {
            debugger;
            var query = $(this).closest('.input-group').find("input.form-control").val();

            if (query != null) {
                var wrapperClass = $(this).closest('.section-treeview').find('.ch-treeview');

                var div = $(wrapperClass).find('.treeview-area');

                var TreeViewParam = {
                    WithCheckBox: "false",
                    AllowSelectGroup: "true",
                    WithImageIcon: "true",
                    WithOutMe: "false",
                    Title: "",
                    SelectedNodeId: "1",
                    Filter: query
                }



                var url = "/Menu/_GetLayoutSideBarTree"

                $.ajax({
                    type: "POST",
                    url: url,
                    data:{param:TreeViewParam},
                    dataType: "html",
                    success: function (html) {
                        debugger;
                        $('.main-side-tree').html(html);
                    },
                    error: function () {
                        alert("error");
                    }
                });
                //$(".main-side-tree").load(url, { param: TreeViewParam });
                //debugger;
            }


        });




    });


</script>