
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/ch-dpicker.js"></script>

<button id="opener">open the dialog</button>
<div id="dialog1" title="Dialog Title" hidden="hidden">I'm a dialog</div>


<div class="cl-dpicker" id="id">
    <input type="button" class="btn-cal-show" value="ok" />
    <div class="result">


    </div>
</div>

 <input type="button" id="test" value="oklk" />
   