@model  List<Loader.Models.Menu>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <table id="mytable" class="table table-bordred table-striped"style="max-width:63%;">

                    <thead>

                    <th>
                        Menu Name
                    </th>
                    <th>
                        IsGroup
                    </th>
                    <th>
                        IsContext
                    </th>
                    <th>
                        IsEnable
                    </th>
                  
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            @Html.Partial("_ListView", item)
                        }

                        </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
